/* Carousel
-------------------------------------------------------- */
.item-1 {
	background: url('../img/background-01.jpg') no-repeat center center fixed;
}
.item-2 {
	background: url('../img/background-02.jpg') no-repeat center center fixed;
}
.item-3 {
	background: url('../img/background-03.jpg') no-repeat center center fixed;
}

/* About
-------------------------------------------------------- */
.john-doe-1 {
	background: url('../img/daniele-zedda-01.jpg') no-repeat center center scroll;
}
.john-doe-2 {
	background: url('../img/daniele-zedda-02.jpg') no-repeat center center scroll;
}
.john-doe-3 {
	background: url('../img/daniele-zedda-03.jpg') no-repeat center center scroll;
}
.apply-now {
	background: url('../img/apply-now.jpg') no-repeat center center scroll;
}


/* Services
-------------------------------------------------------- */
#services {
	background: url('../img/background-03.jpg') no-repeat center center scroll;
}

/* Clients
-------------------------------------------------------- */
#clients {
	background: url('../img/background-01.jpg') no-repeat center center scroll;
}

/* Quotes
-------------------------------------------------------- */
#quotes {
	background: url('../img/background-01.jpg') no-repeat center center scroll;
}