/*
Theme Name: Valtari
Theme Description: Multipurpose Bootstrap Theme
Version: 1.0
Author: Paul Laros
Author URI: http://paullaros.nl/
*/

html, body {
  height: 100%;
}

html {
  color: #343434;
  line-height: 1.65em;
}

body {
  background: #fff;
  font-family: 'EB Garamond', serif;
  line-height: 30px;
  font-size: 19px;
  overflow-y: scroll;
}

body.modal-open {
    overflow: hidden;
}

hr {
  display: block;
  height: 1px;
  border-right: medium none;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #ccc;
  width: 40%;
  margin: 6% auto 4%;
}

h1, h2 {
  margin-bottom: 40px;
  color: #686868;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  color: #4F4F4F;
}

p {
  line-height: 30px;
  font-size: 19px;
  color: #4F4F4F;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.img-responsive {
  margin: 0 0 1em;
}

.btn {
  border-radius: 2px;
}

/* PACE 
-------------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: solid 2px transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  border-radius: 20px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Bootstrap @overrules
-------------------------------------------------------- */
.img-responsive {
  margin: 0;
}
.navbar-brand {
  position: absolute;
  z-index: 1;
}

.page-section {
  background: #fff;
  position: relative;
}

.page-section.show {
  opacity: 1 !important;
}

.page-section .container {
  padding-bottom: 80px;
  padding-top: 80px;
}

.container {
  max-width: 1100px;
}

.panel,
.panel-header,
.panel-footer,
.modal-content {
  border-radius: 0;
  box-shadow: none;
}

.btn {
  box-shadow: none;
  border-radius: 0;
}

/* Buttons
-------------------------------------------------------- */
.btn-valtari {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  padding: 10px 18px
}
.btn-valtari:hover {
  background: #DF3F3F;
  border: 1px solid #DF3F3F;
  color: #fff;
}

/* Carousel
-------------------------------------------------------- */
.carousel-valtari {
  height: 100%;
  overflow: hidden;
  background: #000;
}

.carousel-vatari .item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-valtari,
.carousel-valtari .item,
.carousel-valtari .item.active{
  height: 100%;
}
.carousel-valtari .carousel-inner{
  height: 100%;
}

.carousel-valtari .carousel-caption {
  top: 5%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.carousel-valtari .carousel-caption h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.carousel-valtari .carousel-caption h3 {
  font-size: 18px;
  font-style: italic;
  color: #fff;
  display: block;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.carousel-valtari .carousel-indicators li,
.carousel-valtari .carousel-indicators .active {
  display: inline-block;
  width: 40px;
  height: 6px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  opacity: 0.4;
}
.carousel-valtari .carousel-indicators li.active {
  opacity: 1;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.toggle-cover-overlay {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  width: 80px;
  height: 50px;
  bottom: 3%;
  left: 30px;
  opacity: 0.6;
  color: #fff;
  font-size: 40px;
}

.toggle-cover-overlay:hover {
  opacity: 1;
}

.toggle-cover-overlay i {
  
}

.carousel-overlay .item:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-overlay .item:before {
  content: " ";
  display: block;
  height: 351px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background:-o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background:-ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
}

/* Navbar
-------------------------------------------------------- */
.navbar-default {
  border-bottom: 1px solid #E5E5E5;
  background: #F2F2F1;
  background: #fff;
}

.navbar-valtari .navbar-nav > li > a {
  font-size: 17px;
}
.navbar-valtari .navbar-nav > .active > a,
.navbar-valtari .navbar-nav > .active > a:hover,
.navbar-valtari .navbar-nav > .active > a:focus {
  background: transparent;
}

.navbar-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 0;
  position: relative;
}

.navbar-brand {
  opacity: 0;
}

.navbar-top .navbar-brand {
  opacity: 1;
}

.navbar-pinned {
  opacity: 1;
}

.navbar-unpinned {
  opacity: 0;
}

.navbar.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}

 /* Sections
-------------------------------------------------------- */
.section-title {
  text-align: center;
  font-size: 44px;
  color: #343434;
  text-transform: uppercase;
  z-index: 1;
}

/* Services
-------------------------------------------------------- */
#services .container {
  padding-bottom: 0;
}

#services .service {

}

#services .service .icon {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#services .service .icon i {
  margin: 16px;
}

#services .service p {
  color: lightgray;
}

/* About
-------------------------------------------------------- */
#about .team {
  margin-top: 60px;
}
#about .item {
  position: relative;
  display: block;
}
#about .item .meta {
  opacity: 0;
}
#about .item:hover .meta {
  opacity: 1;
}

#about .team h2 {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0px;
}

#about h3 {
  font-size: 17px;
  margin: 5px 0 15px;
  font-style: italic;
}

#about .photo-wrap {
  position: relative;
}

#about .photo-wrap:after {
  padding-top: 100%;
  display: block;
  content: "";
}

#about .photo {
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: 25px;
}

#about .photo .meta {
  border: 0;
  display: none;
  margin: 38% auto;
}

#about .photo:hover .meta {
  display: block;
}

#about .photo:hover:before {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#about .photo blockquote {
  border: 0;
  display: block;
  color: #fff;
  font-size: 28px;
  font-style: italic;
  position: absolute;
  text-align: center;
  width: 100%;
}

#about .photo .social-media {
  font-size: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

#about .photo .social-media a {
  color: #fff;
  width: 40px;
}

/* Quotes
-------------------------------------------------------- */
#quotes blockquote {
  border: 0;
  color: #fff;
  font-size: 26px;
  font-style: italic;
}

#quotes h4 {
  color: #C1C1C1;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  margin: 5px 0;
}

/* Contact
-------------------------------------------------------- */
.contact-details i {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.row {
  margin-top: 20px;
}

#contact input,
#contact textarea {
  width: 100%;
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #999;
  background: #FFF;
  padding: 2px 3px 0;
}

#contact textarea {
  resize: vertical;
}

#map {
    width: 100%;
    height: 300px;
}

/* Valtari's Typography
-------------------------------------------------------- */
/* Small */
.text-small {
  font-size: 16px;
  line-height: 20px;
}

/* Medium */
.text-medium {
  font-size: 18px;
  line-height: 28px;
}

/* Large */
.text-large {
  font-size: 24px;
  line-height: 36px;
}

.open-sans {
  font-weight: bold;
  color: #343434;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.eb-garemond {
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  color: #343434;
}


/* Background (if section has background)
-------------------------------------------------------- */
.section-background {
  background-color: #222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-background:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.section-background .section-title,
.section-background .section-title:after {
  color: #fff;
}

.section-background h1,
.section-background h2,
.section-background h3,
.section-background h4,
.section-background h5,
.section-background h6,
.section-background p {
  color: #fff;
}

.section-background hr {
  border-color: #fff;
}

/* Pricing
-------------------------------------------------------- */
#pricing .price h3 {
  font-size: 50px;
}

#pricing .price h4 {
  font-size: 40px;
}

#pricing .col-sm-4 {
  margin: 0;
  padding: 0;
}

#pricing .highlighted {
  margin-top: -21px;
}

/* Clients
-------------------------------------------------------- */
#clients .list {
  text-align: center;
  margin-top: 50px;
  padding: 0;
}

#clients .list li {
  display: inline-block;
  margin: 0 30px;
  position: relative;
}

#clients .list a {
  color: #fff;
  display: inline-block;
  font-size: 60px;
  opacity: 0.4;
}
#clients .list a:hover {
  opacity: 1;
}

/* Portfolio
-------------------------------------------------------- */
#portfolio-items {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
  display: block;
}

#portfolio-items li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50%;
  margin-left: -1px;
  padding: 0px;
  text-align: center;
  height: 300px;
  background: #222;
}

#portfolio-items li .meta {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin-top: 30%;
  z-index: 99999;
}

#portfolio-items li:hover .meta {
  opacity: 1;
}

#portfolio-items li:hover:before {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.85);
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#portfolio-items li .meta h5 {
  color: #fff;
  font-size: 24px;
}

#portfolio-items li .meta p {
  color: #fff;
}

#portfolio-items li .meta span {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

/* Filter */
#portfolio-filter {
  text-align: center;
}

#portfolio-filter a {
  color: #999;
}

#portfolio-filter li.active a,
#portfolio-filter a:hover {
  color: #343434;
}

/* Footer
-------------------------------------------------------- */
#footer {
  background: #1C1C1C;
}

#footer .container {
  padding-bottom: 26px;
  padding-top: 26px;
}

#footer .copyright {
  color: #999;
}

#footer .social-media {
  text-align: left;
  margin-top: -5px;
  padding: 0;
}

#footer .social-media li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  text-align: center;
}

#footer .social-media a {
  color: #999;
  display: inline-block;
  font-size: 30px;
  opacity: 0.8;
  width: 30px;
}

#footer .social-media a:hover {
  opacity: 1;
}

/* Responsive styles
-------------------------------------------------------- */
@media (min-width:500px) {

  /* Carousel
  -------------------------------------------------------- */
  .carousel-valtari .carousel-caption {
    top: 13%;
    left: 1%;
    right: 1%;
  }

  .carousel-valtari .carousel-caption h2 {
    font-size: 34px;
  }

  .carousel-valtari .carousel-caption h3 {
    font-size: 20px;
  }



}

@media (min-width:768px) {

  .section-title {
    font-size: 54px;
  }

  /* Navbar
  -------------------------------------------------------- */
  .navbar-valtari .navbar-nav {
    text-align: center;
    position: relative;
    float: none;
  }
  .navbar-valtari .navbar-nav > li {
    float: none;
    display: inline;
  }
  .navbar-valtari .navbar-nav > li > a {
    display: inline-block;
  }

  /* Carousel
  -------------------------------------------------------- */
  .carousel-valtari .carousel-caption {
    top: 30%;
    left: 10%;
    right: 10%;
  }

  .carousel-valtari .carousel-caption h2 {
    font-size: 48px;
  }

  .carousel-valtari .carousel-caption h3 {
    font-size: 28px;
  }

  .toggle-cover-overlay {
    width: 140px;
  }

  /* Services */
  #services .iphone {
    margin-top: -40px;
  }

  /* Portfolio
  -------------------------------------------------------- */
  #portfolio-items li {
    width: 33.3333%;
  }

  /* Footer
  -------------------------------------------------------- */
  #footer .social-media {
    text-align: right;
  }

  /* Buttons
  -------------------------------------------------------- */
  .btn-valtari {
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 18px 42px;
  }

}